4-nested-xa/statemachines/account-b-statemachine.asl.json
{
    "Comment": "Workflow for processing data with Bedrock and classifying reviews",
    "StartAt": "InvokeBedrockAPI",
    "States": {
        "InvokeBedrockAPI": {
            "Type": "Task",
            "Resource": "arn:aws:states:::bedrock:invokeModel",
            "Parameters": {
                "ModelId": "amazon.nova-micro-v1:0",
                "ContentType": "application/json",
                "Body": {
                    "messages": [
                        {
                            "role": "user",
                            "content": [
                                {
                                    "text.$": "$.StatePayload.reviewText"
                                }
                            ]
                        }
                    ],
                    "inferenceConfig": {
                        "max_new_tokens": 300,
                        "top_p": 0.9,
                        "top_k": 20,
                        "temperature": 1
                    },
                    "system": [
                        {
                            "text": "Act as a reviewer. When the user provides you with a reviewText, please analyze and provide a single word answer - fake or real"
                        }
                    ]
                }
            },
            "Next": "ClassifyReview"
        },
        "ClassifyReview": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.Body.output.message.content[0].text",
                    "StringMatches": "*fake*",
                    "Next": "No action required"
                },
                {
                    "Variable": "$.Body.output.message.content[0].text",
                    "StringMatches": "*real*",
                    "Next": "Process further"
                }
            ],
            "Default": "Process further"
        },
        "No action required": {
            "Type": "Pass",
            "End": true
        },
        "Process further": {
            "Type": "Pass",
            "End": true
        }
    }
}